.re1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.re2 {
    width: 200px;
    height: 200px;
    background-color: red;
}

.re3 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.re4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.key {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;

}